* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  --background: #e5e5e5;
  --white-details: #fefefe;
  --white: #f8f8f8;
  --black: #29292e;
  --shadow: #050206;
  --denger: #e73f5d;
  --purple: #835afd;

  --pink-dark: #e559f9;
  --pink-light: #d67ee2;

  --grey-dark: #737380;
  --grey-medium: #a8a8b3;
  --grey-light: #dbdcdd;

  font-size: 62.5%;
}
body {
  background: var(--white);
  color: var(--black);
}
body,
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  text-decoration: none;
}
